:root {
  /* box-shadow values for special elements (cards, tooltips, menu, toasts and modals) */
  --elevation-shadow-small: 0 1px 4px 0 rgba(0 0 0 / 24%);
  --elevation-shadow-medium: 0 9px 24px 0 rgba(15 15 15 / 24%);
  --elevation-shadow-large: 0 16px 40px 0 rgba(15 15 15 / 24%);

  /* base background color for the levels 0 and 1 for the elevation system */
  --elevation-bg-base-light: #fafafa;
  --elevation-bg-base-dark: #2c2c2c;

  /* background color for some special element cases where some contrast is needed */
  --elevation-bg-strong-light: #fff;
  --elevation-bg-strong-dark: #383838;

  /* background color for contrasting tooltips */
  --elevation-bg-contrast-light: #0f0f0f;
  --elevation-bg-contrast-dark: #090909;

  /* color to be set at all backdrop elements */
  --elevation-bg-backdrop: rgba(0 0 0 / 40%);

  /* background color for level 1+ interactive elements on selected state */
  --elevation-bg-selected-light: #e6e6e6;
  --elevation-bg-selected-dark: #383838;

  /* background color for level 1+ interactive elements on hover state */
  --elevation-bg-hover-light: #efefef;
  --elevation-bg-hover-dark: #383838;

  /* outline properties for level 1+ elements on focus state */
  --elevation-bg-focused: #1f6feb solid 2px;

  /* border properties for level 1+ elements */
  --elevation-bg-border-light: 2px solid #d0d0d0;
  --elevation-bg-border-dark: 2px solid #444;

  /* text colors */
  --text-title-light: #121212;
  --text-title-dark: #fff;
  --text-base-light: #202020;
  --text-base-dark: #fefefe;
  --text-secondary-light: #646464;
  --text-secondary-dark: #c0c0c0;
  --text-disabled-dark: #9f9f9f;
  --text-disabled-light: #757575;
  --text-link: #2d99fe;

  /* text color for tooltips with contrast */
  --text-contrast: #e7e7e7;

  /* CSS class for level 0 and 1 of elevation */
  %elevation-base-dark {
    background-color: var(--elevation-bg-base-dark);
    color: var(--text-base-dark);

    &:focus {
      outline: var(--elevation-bg-focused);
    }
  }
  %elevation-base-light {
    background-color: var(--elevation-bg-base-light);
    color: var(--text-base-light);

    &:focus {
      outline: var(--elevation-bg-focused);
    }
  }

  /* CSS class for special elevation elements that requires higher contrast */
  %elevation-strong-dark {
    background-color: var(--elevation-bg-strong-dark);
  }
  %elevation-strong-light {
    background-color: var(--elevation-bg-strong-light);
  }

  /* CSS class for contrast (tooltips with contrast) */
  %elevation-contrast-light {
    background-color: var(--elevation-bg-contrast-light);
    color: var(--text-contrast);
  }
  %elevation-contrast-dark {
    background-color: var(--elevation-bg-contrast-dark);
    color: var(--text-contrast);
  }

  /* CSS class for level 1 of elevation */
  %elevation-border-light {
    border: var(--elevation-bg-border-light);
  }
  %elevation-border-dark {
    border: var(--elevation-bg-border-dark);
  }

  /* CSS classes for interactive elevation items */
  %elevation-hover-light {
    &:hover {
      background-color: var(--elevation-bg-selected-light);
    }
  }
  %elevation-hover-dark {
    &:hover {
      background-color: var(--elevation-bg-selected-dark);
    }
  }
  %elevation-selected-light {
    background-color: var(--elevation-bg-selected-light);
  }
  %elevation-selected-dark {
    background-color: var(--elevation-bg-selected-dark);
  }

  /* CSS class for backdrop color */
  %elevation-backdrop {
    background-color: var(--elevation-bg-backdrop);
  }

  /* CSS classes for text, except base and contrast styles */
  %text-title-light {
    color: var(--text-title-light);
  }
  %text-title-dark {
    color: var(--text-title-dark);
  }
  %text-secondary-light {
    color: var(--text-secondary-light);
  }
  %text-secondary-dark {
    color: var(--text-secondary-dark);
  }
  %text-disabled-light {
    color: var(--text-disabled-light);
  }
  %text-disabled-dark {
    color: var(--text-disabled-dark);
  }
  %text-link-light {
    color: var(--text-link);
  }

  /* CSS classes for adding shadow on special elevation items */
  %elevation-shadow-small {
    box-shadow: var(--elevation-shadow-small);
  }
  %elevation-shadow-medium {
    box-shadow: var(--elevation-shadow-medium);
  }
  %elevation-shadow-large {
    box-shadow: var(--elevation-shadow-large);
  }
}
