:root {
  /* depth 4 */
  --elevation-depth-4: 0 1.6px 2.8px 0.8px rgb(0 0 0 / 13%);
  /* depth 8 */
  --elevation-depth-8: 0 1.6px 4px 2.5px rgb(0 0 0 / 13%);
  /* depth 16 */
  --elevation-depth-16: 0 1.6px 7px 5px rgb(0 0 0 / 15%);
  /* depth 64 */
  --elevation-depth-62: 0 1.6px 10px 9px rgb(0 0 0 / 20%);


  .elevation1X {
    box-shadow: var(--elevation-depth-4);
  }
  .elevation2X {
    box-shadow: var(--elevation-depth-8);
  }
  .elevation3X {
    box-shadow: var(--elevation-depth-16);
  }
  .elevation4X {
    box-shadow: var(--elevation-depth-62);
  }
}