$no-wrap-height: 20px;

.base {
  display: flex;
  gap: var(--spacing-md);
  padding-inline: var(--spacing-xs-2);

  .level {
    color: var(--theme-stage-on);
    flex: 0 0 var(--icon-small);

    .levelLabel {
      font-size: 0;
    }
  }
  .time {
    color: var(--theme-stage-on-weak);
    flex-shrink: 0;
  }
  .message {
    flex-grow: 1;
    line-break: anywhere;
    white-space: pre-wrap;
    word-break: break-all;
  }
  .critical {
    color: var(--theme-status-critical);
  }
  .debug {
    color: var(--theme-status-active);
  }
  .error {
    color: var(--theme-status-critical);
  }
  .trace {
    color: var(--theme-status-active);
  }
  .warning {
    color: var(--theme-status-warning);
  }
  &.noWrap {
    height: $no-wrap-height;

    & > * {
      height: $no-wrap-height;
    }
    .time {
      line-height: $no-wrap-height;
    }
    .message {
      line-break: normal;
      line-height: $no-wrap-height;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
