.cardBase {
  --transition-duration: 0.25s;
  --transition-delay: 0.05s;
  --outside-padding: var(--spacing-sm);
  color: var(--theme-surface-on);
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  position: relative;

  .action {
    background-color: inherit;
    opacity: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    position: absolute;
    right: var(--outside-padding);
    top: var(--outside-padding);
    transition: all var(--transition-duration);
    transition-delay: var(--transition-delay);
  }
  .content {
    flex-grow: 1;

    & > * {
      flex-grow: 1;
    }
  }
  &.clickable {
    cursor: pointer;
  }
  &:hover,
  &:focus-within {
    color: var(--theme-surface-on);

    .action {
      opacity: 1;
    }
  }
  &:focus-visible {
    outline: var(--theme-stroke-width-strong) solid var(--theme-ix-border-active);
  }
  &.smallCard {
    --outside-padding: var(--spacing-xs);
    min-height: 64px;
    min-width: 143px;
  }
  &.mediumCard {
    --outside-padding: var(--spacing-sm);
    min-height: 110px;
    min-width: 302px;
  }
}
.groupBase {
  .cardBase {
    max-width: 100%;
  }
}
