.base {
  &:global(.ant-checkbox-wrapper) {
    margin: var(--spacing-none);
  }
  :global(.ant-checkbox-inner) {
    border-color: var(--theme-ix-border);
  }
  :global(.ant-checkbox-checked > .ant-checkbox-inner) {
    border-color: var(--theme-ix-border-active);
  }
  :global(.ant-checkbox-checked > .ant-checkbox-inner)::after {
    border-left: 0;
    border-top: 0;
  }
}
