.base {
  .commandContainer {
    display: flex;
    gap: var(--spacing-medium);
  }
  .codeSample {
    background-color: var(--theme-float-strong);
    border: solid var(--theme-stroke-width) var(--theme-float-border);
    border-radius: 4px;
    flex-grow: 1;
    overflow-x: scroll;
    padding: var(--spacing-small);
    white-space: pre;
  }
}
