.base {
  display: grid;

  &.row {
    grid-auto-flow: column;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding: var(--spacing-xs);
    padding-bottom: var(--spacing-sm);
  }
}
