.columns {
  display: flex;
  flex-direction: row;
  gap: var(--columns-gap);
  height: var(--columns-height);
  margin-bottom: var(--columns-margin-bottom);
  width: 100%;
}
.column {
  display: flex;
  flex: var(--column-flex);
  flex-direction: column;
  gap: var(--column-gap);

  &.align-left {
    align-items: start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-right {
    align-items: end;
  }
}

// @media only screen and (max-width: $breakpoint-tablet) {

.columns.wrap {
  flex-wrap: wrap;
}

// }
