@use 'src/kit/scss/media-queries.scss';

.column {
  display: flex;
  flex-direction: column;

  &.align-left {
    align-items: start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-right {
    align-items: end;
  }
}

@include media-queries.mobile {
  .hideInMobile {
    display: none;
  }
}
