.columns {
  display: flex;
  gap: var(--columns-gap);
  height: var(--columns-height);
  flex-direction: row;
  width: 100%;
  &.justify-space {
    justify-content: space-between;
  }
  &.justify-left {
    justify-content: flex-start;
  }
  &.justify-right {
    justify-content: flex-end;
  }
  &.justify-center {
    justify-content: center;
  }
}
.column {
  display: flex;
  flex-direction: column;
  flex: var(--column-flex);
  gap: var(--column-gap);
  &.align-left {
    align-items: flex-start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-right {
    align-items: flex-end;
  }
}

// @media only screen and (max-width: $breakpoint-tablet) {
.columns.wrap {
  flex-wrap: wrap;
}
// }
