@use 'src/kit/scss/media-queries.scss';

.base {
  display: flex;

  .pageSelectRow {
    display: none;
  }
  .listContainer {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4px;
    list-style: none;
    margin: 0;
    max-width: 200px;
    overflow-y: auto;
    padding: 16px;

    .listItem {
      align-items: center;
      border: 2px solid transparent;
      border-radius: var(--theme-border-radius);
      cursor: pointer;
      display: flex;
      width: 100%;

      .action {
        visibility: hidden;
      }
      &:hover .action {
        visibility: visible;
      }
    }
  }
  .docsContainer {
    display: flex;
    flex-grow: 1;

    & > * {
      flex-grow: 1;
    }
  }
}

@include media-queries.mobile {
  .base {
    flex-direction: column-reverse;

    .pageSelectRow {
      bottom: 0;
      display: block;
      position: sticky;
    }
    .listContainer {
      display: none;
    }
  }
}
