.base {
  .row {
    align-items: center;
    display: flex;
    padding: 4px 0;

    .label {
      align-self: flex-start;
      flex: 0 0 34%;
      margin-right: 20px;
      max-width: 200px;
      min-width: 50px;
      padding-right: 8px;
    }
    .valueList {
      display: flex;
      flex: 1 66%;
      flex-direction: column;

      .value {
        margin: 0;
        min-width: 0;

        .componentWrapper {
          text-align: initial;
        }
      }
    }
  }
  &.align-left .row .valueList {
    align-items: flex-start;
    text-align: start;
  }
  &.align-right .row .valueList {
    align-items: flex-end;
    text-align: end;
  }
}
