.base {
  .row {
    align-items: center;
    display: flex;
    padding: var(--spacing-tiny) 0;

    .label {
      align-self: flex-start;
      flex: 0 0 34%;
      margin-right: var(--spacing-big);
      max-width: 200px;
      min-width: 50px;
      padding-right: var(--spacing-small);
    }
    .valueList {
      display: flex;
      flex: 1 66%;
      flex-direction: column;
      min-width: 0;

      .value {
        margin: var(--spacing-none);
        max-width: 100%;
        min-width: 0;
        overflow-wrap: break-word;

        .componentWrapper {
          text-align: initial;
        }
      }
    }
  }
  &.align-left .row .valueList {
    align-items: flex-start;
    text-align: start;
  }
  &.align-right .row .valueList {
    align-items: flex-end;
    text-align: end;
  }
}
