/* stylelint-disable selector-id-pattern */

#input_help {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.ant-input-affix-wrapper {
  border-radius: var(--theme-border-radius);
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-lg {
  padding: 6.5px 7.5px;
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-sm {
  padding: 0 3px;
}
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  box-shadow: var(--theme-focus-shadow);
}
.ant-input-affix-wrapper > .ant-input-prefix,
.ant-input-affix-wrapper > .ant-input-suffix {
  align-items: center;
  display: flex;
}
.ant-input-affix-wrapper > .ant-input-prefix {
  margin-right: 6px;
}
.ant-input-affix-wrapper > .ant-input-suffix {
  margin-left: 6px;
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-lg > .ant-input-prefix {
  margin-right: 7.5px;
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-lg > .ant-input-suffix {
  margin-left: 7.5px;
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-sm > .ant-input-prefix {
  margin-right: 3px;
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-sm > .ant-input-suffix {
  margin-left: 3px;
}
.ant-input-affix-wrapper.ant-input-affix-wrapper-sm > .ant-input-prefix > i,
.ant-input-affix-wrapper.ant-input-affix-wrapper-sm > .ant-input-suffix > i {
  font-size: 16px;
}
