.gridBase {
  height: 100%;
  overflow: auto;

  .filterContainer {
    column-gap: var(--spacing-xl);
    display: flex;
    justify-content: right;
    margin-bottom: var(--spacing-lg);
    padding-right: var(--spacing-sm);
  }
  .gridContainer {
    display: grid;
    gap: var(--spacing-xl);
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding-inline: var(--spacing-xl-2);

    .gridItem {
      flex: 1;
      min-height: 320px;
    }
  }
}
.chartTitle {
  display: flex;
  font-family: var(--theme-font-family);
  font-size: 14px;
  justify-content: center;
  padding: 0 var(--spacing-md);

  @supports (font-variation-settings: normal) {
    font-family: var(--theme-font-family-var);
  }
}
