.gridBase {
  height: 100%;
  overflow: auto;

  .filterContainer {
    margin-bottom: var(--spacing-lg);
  }
  .gridContainer {
    display: grid;
    gap: var(--spacing-xl);
    grid-template-columns: auto;

    .gridItem {
      flex: 1;
      min-height: 320px;
    }
  }
}
.chartTitle {
  display: flex;
  font-family: var(--theme-font-family);
  font-size: 14px;
  justify-content: center;
  padding: 0 var(--spacing-md);

  @supports (font-variation-settings: normal) {
    font-family: var(--theme-font-family-var);
  }
}
