.item {
  background: var(--theme-elevation-current-bg);
  border: solid 1px var(--theme-elevation-current-border);
  overflow: hidden;
  padding: 12px 0;

  &:first-child {
    border-radius: var(--theme-border-radius) var(--theme-border-radius) 0 0;
  }
  &:last-child {
    border-radius: 0 0 var(--theme-border-radius) var(--theme-border-radius);
  }
  &:not(:last-child) {
    border-bottom: none;
  }
  .icon {
    height: 32px;
    padding: 8px 0;
    padding-right: 8px;
  }
  .subtitle {
    color: var(--theme-status-inactive);
    font-size: 12px;
  }
  .actions {
    display: none;
  }
  &:hover {
    background: var(--theme-elevation-current-bg-highlight);
    position: relative;

    .actions {
      background: var(--theme-elevation-current-bg-highlight);
      border-radius: var(--theme-border-radius);
      display: block;
      position: absolute;
      right: 8px;
      height: 32px;
      margin: auto;
      top: 0;
      bottom: 0;
    }
  }
  &.clickable {
    cursor: pointer;
  }
}
