.base {
  align-items: center;
  color: var(--theme-status-inactive-weak);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  height: 100%;
  justify-content: center;
  padding: var(--spacing-enormous);

  .description {
    text-align: center;
  }
}
