.modalContent {
  :global(.ant-modal-content) {
    padding: 0;
  }
  :global(.ant-modal-close) {
    inset-inline-end: var(--spacing-xs);
    top: 8px;
  }
  :global(.ant-modal-header),
  :global(.ant-modal-footer) {
    margin: var(--spacing-none);
  }
}
.modalBody {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
}
.header {
  align-items: center;
  display: flex;
  height: 58px;
  padding: var(--spacing-xl-2) var(--spacing-sm) 0;

  .headerTitle,
  .headerLink {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dangerIcon {
    color: var(--theme-status-critical);
  }
  > * {
    margin-inline-end: var(--spacing-sm);
  }
}
.footer {
  align-items: center;
  background-color: var(--theme-surface);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: var(--spacing-sm);
  width: 100%;

  .footerLink {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .buttons {
    white-space: nowrap;

    > * {
      margin-inline-start: var(--spacing-xs);
    }
  }
}
.wrapper {
  display: none;
}
