.base {
  align-items: center;
  display: flex;
  gap: var(--spacing-md);
  max-width: 100%;

  .icon {
    flex-shrink: 0;
    line-height: 0;
  }
  .text {
    min-width: 0;

    & > * {
      margin: var(--spacing-none);
    }
    .alias {
      font-size: larger;
    }
  }
}
.compact {
  font-size: smaller;
  line-height: initial;
  min-height: 38px;
}
