.base {
  display: flex;

  .option {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    height: auto;
    justify-content: center;
    min-height: 32px;
    outline: 0;
    padding: 0 var(--spacing-md);
    position: relative;
    transition: all var(--animation-curve);
  }
  .option:hover {
    border-color: var(--theme-status-active-weak);
    color: var(--theme-colors-monochrome-0);
    z-index: 1;

    &::before {
      background-color: var(--theme-status-active-weak);
    }
  }
  .option:focus {
    box-shadow: var(--theme-focus-shadow);
  }
  .option > span {
    align-items: center;
    display: flex;
  }
  .label {
    font-size: 14px;
  }
  &.row {
    display: flex;
    gap: 8px;
    height: 80px;

    > * {
      flex-grow: 1;
    }
    .option {
      > span:not(:global(.ant-radio-button)) {
        flex-direction: column;

        > span {
          height: 32px;

          &.label {
            margin: 0;
          }
        }
      }
    }
  }
  .option > span > *:nth-child(2) {
    margin-left: var(--spacing-md);
  }
}
.base.iconOnly {
  .option {
    padding: 0 var(--spacing-sm);
  }
}
