.row {
  display: flex;
  flex-direction: row;

  &.wrap {
    flex-wrap: wrap;
  }
  &.align-top {
    align-items: start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-bottom {
    align-items: end;
  }
}
