/* stylelint-disable no-descending-specificity */

.base {
  &:not(:last-child) {
    padding-bottom: 16px;
  }
  .header {
    border: 0 solid var(--theme-stage-border);
    margin-bottom: 8px;
  }
  .title {
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
  }
  .title.string {
    font-size: 16px;
  }
  .body {
    height: max-content;
  }
  & + section.base {
    border-top: var(--theme-stroke-width) solid var(--theme-stage-border);
    padding-top: 16px;
  }
}
.base.titleDivider .header {
  border-bottom-width: var(--theme-stroke-width);
  padding-bottom: 8px;
}
