.root {
  display: flex;
  position: relative;
  width: fit-content;
}
.valueCount {
  background-color: var(--theme-float);
  border-radius: var(--theme-border-radius);
  inset: var(--theme-stroke-width);
  padding-left: var(--spacing-xs);
  pointer-events: none;
  position: absolute;
}
.input {
  background-color: var(--theme-float);
  border: var(--theme-stroke-width) solid var(--theme-ix-border);
  border-radius: var(--theme-border-radius);
  display: flex;

  input {
    appearance: none;
    border: none;
    border-radius: var(--theme-border-radius);

    &:focus-visible {
      outline: none;
    }
  }

  // todo: replace with :has(:focus-visible) when firefox lands it

  &:focus-within {
    outline: var(--theme-stroke-width-strong) solid var(--theme-ix-border-active);

    .valueCount {
      display: none;
    }
  }
}
.listbox {
  background-color: var(--theme-float);
  border: var(--theme-stroke-width) solid var(--theme-ix-border);
  border-radius: var(--theme-border-radius);
  font-family: var(--theme-font-family);
  list-style: none;
  margin: var(--theme-stroke-width-strong) 0;
  min-width: 150px;
  padding: var(--spacing-xs);
}
.optionLabel {
  border-radius: var(--theme-border-radius);
  display: flex;
  padding: var(--spacing-xs) var(--spacing-sm);

  &:global(.Mui-focused) {
    background-color: var(--theme-stage);
    cursor: pointer;
    outline: var(--theme-stroke-width-strong) solid var(--theme-ix-border-active);
  }
  &[aria-selected='true'] {
    font-weight: 600;
  }
}
.optionLabelText {
  flex-grow: 1;
}
.tag {
  background-color: var(--theme-stage);
  border-radius: var(--theme-border-radius);
  margin-right: var(--spacing-md);
  padding: var(--spacing-xs) var(--spacing-sm);

  &:focus {
    background-color: var(--theme-stage-strong);
    font-weight: 600;
    outline: var(--theme-stroke-width-strong) solid var(--theme-ix-border-active);
  }
}
