:root {
  --spacing-none: 0px;
  --spacing-tiny: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-big: 20px;
  --spacing-great: 24px;
  --spacing-huge: 32px;
  --spacing-enormous: 40px;
  --spacing-giant: 48px;
  --spacing-jumbo: 56px;
}
