@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.base {
  height: 100%;
  min-height: inherit;
  position: relative;
  width: 100%;

  .spin {
    animation: rotate 1s linear infinite;
    color: var(--theme-brand);
    display: flex;
  }
  &.center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  :global(.ant-spin-container) {
    height: 100%;
  }
  :global(.ant-spin-nested-loading) {
    height: 100%;
    width: 100%;
  }
  :global(.ant-spin-nested-loading > div > .ant-spin-spinning) {
    max-height: inherit;
  }
  :global(.ant-spin-show-text) {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  :global(.ant-spin .ant-spin-dot) {
    display: flex;
  }
  :global(.ant-spin .ant-spin-text) {
    color: var(--theme-background-on);
    font-style: italic;
    margin-top: 16px;
  }
}
