/* stylelint-disable no-descending-specificity */
@use 'sass:map';
@use 'internal/Elevation.module.scss';

.base {
  border-radius: var(--theme-border-radius);
  flex-grow: 1;
  padding: 8px;

  @extend %base, .border;
}
