/* stylelint-disable custom-property-pattern */

:root {
  /* Title */
  --title-size-l: 24px;
  --title-ln-l: 32px;
  --title-size-default: 20px;
  --title-ln-default: 28px;
  --title-size-s: 16px;
  --title-ln-s: 24px;
  --title-size-xs: 14px;
  --title-ln-xs: 21px;

  /* Body */
  --body-size-l: 16px;
  --body-ln-l: 24px;
  --body-size-default: 12px;
  --body-ln-default: 20px;
  --body-size-s: 11px;
  --body-ln-s: 16px;

  /* Label */
  --label-size-l: 16px;
  --label-ln-l: 16px;
  --label-size-default: 12px;
  --label-ln-default: 16px;
  --label-size-s: 11px;
  --label-ln-s: 16px;
}
.title {
  font-family: var(--theme-font-family);
  font-weight: 500;

  &.default {
    font-size: var(--title-size-default);
    line-height: var(--title-ln-default);
  }
  &.large {
    font-size: var(--title-size-l);
    line-height: var(--title-ln-l);
  }
  &.small {
    font-size: var(--title-size-s);
    line-height: var(--title-ln-s);
  }
  &.x-small {
    font-size: var(--title-size-xs);
    line-height: var(--title-ln-xs);
  }
}
.body {
  font-family: var(--theme-font-family);

  &.default {
    font-size: var(--body-size-default);
    line-height: var(--body-ln-default);
  }
  &.large {
    font-size: var(--body-size-l);
    line-height: var(--body-ln-l);
  }
  &.small,
  &.x-small {
    font-size: var(--body-size-s);
    line-height: var(--body-ln-s);
  }
}
.label {
  font-family: var(--theme-font-family);

  &.default {
    font-size: var(--label-size-default);
    line-height: var(--label-ln-default);
  }
  &.large {
    font-size: var(--label-size-l);
    line-height: var(--label-ln-l);
  }
  &.small,
  &.x-small {
    font-size: var(--label-size-s);
    line-height: var(--label-ln-s);
  }
}
.code {
  font-family: var(--theme-font-family-code);
  font-size: var(--body-size-default);
  line-height: var(--body-ln-default);
}
:global(.ant-typography.ant-typography-ellipsis-single-line) {
  margin-bottom: 0;
}
