/* stylelint-disable order/order */
/* stylelint-disable no-descending-specificity */
@use 'sass:map';
@use 'sass:meta';
@use 'sass:math';

$levels: (
  0: var(--theme-elevation-0-bg),
  1: var(--theme-elevation-1-bg),
  2: var(--theme-elevation-2-bg),
  3: var(--theme-elevation-3-bg),
  4: var(--theme-elevation-4-bg),
);
$level-highlights: (
  0: var(--theme-elevation-0-hover),
  1: var(--theme-elevation-1-hover),
  2: var(--theme-elevation-2-hover),
  3: var(--theme-elevation-3-hover),
  4: var(--theme-elevation-4-hover),
);
$border-colors: (
  0: var(--theme-elevation-0-border),
  1: var(--theme-elevation-1-border),
  2: var(--theme-elevation-2-border),
  3: var(--theme-elevation-3-border),
  4: var(--theme-elevation-4-border),
);

@mixin elevation-layer($level: 1) {
  background-color: map.get($levels, $level);
  border-color: map.get($border-colors, $level);

  &.hover:hover {
    background-color: map.get($level-highlights, $level);
  }
  &.border {
    border: var(--theme-stroke-width) solid map.get($border-colors, $level);
  }
}

// taken from https://stackoverflow.com/a/63250918
@mixin nested($depth: 1) {
  $self: &;

  @for $i from 1 through $depth {
    #{$self} {
      @content;
    }

    $self: #{$self + ' ' + &};
  }
}

@mixin elevation($base-elevation: 1) {
  $max-elevation: 4;

  @include elevation-layer($base-elevation);

  @include nested($max-elevation + 1 - $base-elevation) {
    $base-elevation: math.clamp(0, $base-elevation + 1, $max-elevation);

    @include elevation-layer($base-elevation);
  }
}

.base {
  &.zero {
    @include elevation-layer(0);
  }
  &.one {
    @include elevation-layer(1);
  }
  &.two {
    @include elevation-layer(2);
  }
  &.three {
    @include elevation-layer(3);
  }
  &.four {
    @include elevation-layer(4);
  }
}
